.clr-picker {
  z-index: 2000 !important;
}


.coloris-wrapper .clr-field button {
  width: 22px;
  height: 22px;
  left: 12px;
  right: auto;
  border-radius: 5px;
}

.coloris-wrapper .clr-field input {
  padding-left: 42px !important;
}

.coloris-wrapper .clr-field button {
  border-radius: 50%;
}
